---
interface Props {
  email: string;
}

const { email } = Astro.props;
---

<footer id="contact" class="site-footer">
  <div class="container footer-inner">
    <p>DeepSDM Day 2026</p>
    <p>
      Contact: <a href={`mailto:${email}`}>{email}</a>
    </p>
  </div>
</footer>
