---
interface Props {
  id: string;
  title: string;
  subtitle?: string;
}

const { id, title, subtitle } = Astro.props;
---

<section id={id} class="section container">
  <div class="section-head">
    <h2>{title}</h2>
    {subtitle && <p>{subtitle}</p>}
  </div>
  <slot />
</section>
